/*Inicio Estilo Menu */

#login{
    float: right;
}

#cabecalho{
    text-align: center;
    
}

#livro{
    float: right;
}

#cadastrar{
   margin: 10px; 
   
   text-align: center;
}

#btncadastrar:hover{
    border-color: black;
}
/*Fim Estilo Menu nav */


/* <=====Index estilo========> */
#dadoslivraria{
    float: left;
    width: 500px;
}

#banner{
    margin-top: 30px;
    width: 600px;
    float:right;
    
}
#quadro1 img{
    width: 400px;
    height:400px;
    float:left;
    clear: both;
}

#quadro2 img{
    width: 400px;
    height:400px;
    float:right;
    
}

/* <========Fim estilo index=========>*/




/* Inicio Estilo contato*/
#contatenos{
    float: right;
    margin: 0 0 0 10px;
}
#contat{
    margin-top: 25px;
}

#logo img{
    max-width:250px;
    max-height:180px;
    width: auto;
    height: auto;
}

#maps{
    float: left;
    padding: 0;
}

footer{
    clear: both;
    background: #abbbd6;
    text-align: center;
    color: #344056;
        
}
/* Fim estilo contato*/




/*Estilo pagina Livros */


/*Fim pagina Livros*/