/*Inicio Estilo Menu */


body{
    background-color: aliceblue;
}
#login{
    text-align: right;
    margin: 15px;
    height: 10px;

}
#logado{
    text-align: right;
    margin: 15px;
    height: 10px;
}

#cabecalho{
    text-align: center;


}

#livro{
    float: right;
}

#cadastrar{
   margin: 10px;

   text-align: center;
}
#logo{
    text-align: center;
}
#btncadastrar:hover{
    border-color: black;
}
/*Fim Estilo Menu nav */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: inline;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
 float: left;
}
/* <=====Index estilo========> */

.container{
}



#dadoslivraria{

    float: left;
    width: 500px;
}
#banner{
    margin: 10px;
    margin: 0%;
}
#banner img{
    padding-bottom: 5px;
    margin-top: 8px;
    width: 600px;
    float:right;

}
#quadro1 img{
    width: 400px;
    height:400px;
    float:left;
    clear: both;
}

#quadro2 img{
    width: 400px;
    height:400px;
    float:right;

}

/* <========Fim estilo index=========>*/




/* Inicio Estilo contato*/
#contatenos{
    float: right;
    margin: 0 0 0 10px;
}
#contat{
    margin-top: 25px;
}

#logo img{
  width: 330px;
  height: 175px;
}

#maps{
    float: left;
    padding: 0;
}

footer{
    clear: both;
    margin: 15px;
    background-color: aliceblue;
    background: #abbbd6;
    text-align: center;
    color: #344056;

}
#redes-sociais{
    text-align: center;
    margin: 15px;
}
p{
    margin-bottom: 0px;
}
/* Fim estilo contato*/


#img-slide{
    width: 710px;
    height: 510px;
}

/*Estilo pagina Livros */

#espaco-livro{
    background-color: rgba(248, 250, 235, 0.966);
    margin: 10px;
    width: 500px;
    height: 375px;
    
     
}
#espaco-livro strong{
    width: 400px;
    height: 24px; 
    padding: 1px;
    margin: 5px;
}

#livros{
    height: 150px;
    margin: 10px;
}
#espaco-livro img{
    margin: 5px;
    width: 155px;
    height: 195px;
    
}
#carousel-slide{
  align-content: center;
}
/*Fim pagina Livros*/
